.personalbar{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 6.1%;
    background: #fff;
    border-bottom: solid rgba(12, 12, 12, 0.329) 1px;
}
.nugen-logo{
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 14%;
    height: 100%;
    border-right: solid rgba(12, 12, 12, 0.123) 2px;
    float: left;
}
.nugen-tex{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(114, 55, 124), rgb(112, 53, 109), rgb(136, 57, 125), 
    rgb(188, 114, 231), rgb(231, 65, 107));
    background-clip: text;
    color: transparent;
    background-position: -30px -30px;
    margin-left: 34%;
    margin-top: 3%;
}
.right-cover{
    width: 86%;
    margin-left: 14%;
    height: 100%;
}
.logout{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 3.5%;
    height: 100%;
    border-left: solid rgba(12, 12, 12, 0.103) 2px;
    color: rgb(179, 46, 46);
}
.inbox-icon{
    margin-right: 50px;
    font-size: 22px;
}
.personal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 10%;
    height: 100%;
    right: 65px;
    border-left: solid rgba(12, 12, 12, 0.103) 2px;
}
.naam{
    width: 50%;
    position: absolute;
    color: rgba(0, 0, 0, 0.746);
    font-size: 15px;
    margin-right: 18px;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photo{
    position: absolute;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #000;
    left: 0;
    margin-left: 20px;
}
.noti-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5%;
    height: 100%;
    right: 250px;
    border-left: solid rgba(12, 12, 12, 0.103) 2px;
}
#bell{
    font-size: 18px;
    font-weight: bold;
    color: rgb(172, 86, 164);;
}
#laptop{
    position: absolute;
    width: 60px;
    height: 100%;
    background: #000;
    left: 0;
    margin-left: -50px;
    margin-top: 0.7%;
    background: linear-gradient(rgb(114, 55, 124), rgb(112, 53, 109), rgb(136, 57, 125), 
    rgb(188, 114, 231), rgb(231, 65, 107));
    background-clip: text;
    color: transparent;
    background-position: -30px -30px;
    font-size: 30px;

}