.bar{
    position: absolute;
    display: flex;
    width: 14%;
    height: 102%;
    margin-top: 3.2%;
    /* background: linear-gradient(rgb(114, 55, 124), rgb(112, 53, 109), rgb(136, 57, 125),
    rgb(188, 114, 231), rgb(231, 65, 107)); */
    background-image: linear-gradient(180deg, #671675 0%, #b973dc 100%);

}

.tabs{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 5%;
    font-weight: 100;
}
.tab:hover{
    transition: 0.7s;
    background: rgba(188, 114, 231, 0.363);
    color: #fff;
    /* font-weight: 400; */
}
.tab-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.301);
}
.tab-tex{
    position: absolute;
    left: 28px;;
}
.fa, .fas{
    position: absolute;
    right: 28px;
    font-size: 16px;
    padding-left: 90px;
}

.meter-box{
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    width: 100%;
    height: 30%;
    margin-top: 40%;
}
.meter-tex{
    margin-bottom: 10%;
}
.meter{
    width: 75%;
    height: 2%;
    margin-bottom: 10%;
    background: linear-gradient(to right, rgb(250, 235, 24), rgb(251, 129, 58),#fff);
}
.perc-completed{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10%;
}
